html {
  overflow-x: auto;
  overflow-y: scroll;
}
body,dl,dt,dd,ul,ol,li,pre,form,input,p,th,td,h1,h2,h3,h4,h4,h5,h6 {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffffff;
}
a,a:hover{
  color:#333;
}
