html {
  overflow-x: hidden;
  overflow-y: scroll; }
  html > body {
    background-color: #F1F1F1; }

body, dl, dt, dd, ul, ol, li, pre, form, input, p, th, td, h1, h2, h3, h4, h4, h5, h6 {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none; }

a, a:hover {
  text-decoration: none; }

.centerBox {
  display: flex;
  width: 1200px;
  margin: 0 auto; }
  @media screen and (max-width: 1205px) {
    .centerBox {
      width: 1000px; } }

.topArea {
  background-image: url("../img/topBac.png");
  background-attachment: fixed;
  background-size: 120px;
  background-position: 100% 100%;
  background-color: #3B3B3B; }
  .topArea > .centerBox {
    justify-content: space-between;
    align-items: center;
    padding: 20px 0; }
    .topArea > .centerBox > .logo {
      display: block;
      width: 200px; }
    .topArea > .centerBox > div input, .topArea > .centerBox > div #search, .topArea > .centerBox > div #cart {
      float: left;
      height: 32px;
      box-sizing: border-box;
      transition: all 0.2s ease-in-out; }
    .topArea > .centerBox > div input {
      width: 120px;
      margin-right: 15px;
      padding-left: 15px;
      color: #F1F1F1;
      background-color: #2A2A2A;
      border: 0;
      border-radius: 100px; }
      .topArea > .centerBox > div input:hover {
        box-shadow: inset 1px 1px 1px 1px #505050, inset -1px -1px 1px 1px #2c2c2c; }
      .topArea > .centerBox > div input:focus {
        width: 300px;
        border: 2px solid #505050; }
        .topArea > .centerBox > div input:focus:hover {
          box-shadow: 0 0 #a09999; }
        .topArea > .centerBox > div input:focus::placeholder {
          color: #a09999; }
    .topArea > .centerBox > div #search {
      width: 32px;
      margin-right: 15px;
      padding: 5px;
      background-image: url("../img/search.svg");
      background-size: 100% 100%;
      background-origin: content-box;
      background-repeat: no-repeat;
      background-color: #2A2A2A;
      border-radius: 50%;
      cursor: pointer; }
      .topArea > .centerBox > div #search:hover {
        box-shadow: inset 1px 1px 1px 1px #505050, inset -1px -1px 1px 1px #2c2c2c; }
    .topArea > .centerBox > div #cart {
      width: 100px;
      border-radius: 100px;
      cursor: pointer;
      background-color: #2A2A2A; }
      .topArea > .centerBox > div #cart > div {
        box-sizing: border-box;
        float: left;
        height: 30px;
        width: 30px;
        padding: 6px;
        margin-left: 5px;
        background-image: url("../img/cart.svg");
        background-size: 100% 100%;
        background-origin: content-box;
        background-repeat: no-repeat; }
      .topArea > .centerBox > div #cart:hover {
        box-shadow: inset 1px 1px 1px 1px #505050, inset -1px -1px 1px 1px #2c2c2c; }
      .topArea > .centerBox > div #cart > span {
        float: left;
        height: 30px;
        margin-left: 5px;
        font-size: 14px;
        color: #F1F1F1;
        line-height: 30px;
        transition: all 0.2s ease-in-out; }
      .topArea > .centerBox > div #cart:hover > span {
        color: #EAA023; }

.navArea {
  background-color: #2A2A2A; }
  .navArea > .centerBox {
    justify-content: space-between;
    align-items: center;
    font-size: 14px; }
    .navArea > .centerBox > ul > li {
      float: left; }
      .navArea > .centerBox > ul > li > a {
        display: inline-block;
        padding: 10px 50px;
        color: #F1F1F1;
        border-left: 2px solid #3B3B3B;
        transition: all 0.2s ease-in-out; }
      .navArea > .centerBox > ul > li:last-child > a {
        border-right: 2px solid #3B3B3B; }
      .navArea > .centerBox > ul > li > ul {
        position: absolute;
        box-shadow: 1px 1px 5px 1px #a09999;
        z-index: 10; }
        .navArea > .centerBox > ul > li > ul > li {
          padding: 10px 50px;
          color: #a09999;
          background-color: #F1F1F1;
          cursor: pointer;
          transition: all 0.2s ease-in-out; }
          .navArea > .centerBox > ul > li > ul > li:hover {
            padding-left: 55px;
            padding-right: 45px; }
    .navArea > .centerBox > ul:first-child li:hover > a {
      background-color: #F1F1F1;
      color: #BE1920;
      font-weight: bold; }
    .navArea > .centerBox > ul:last-child a:hover {
      font-weight: bold; }

.carouselArea > .carouselBox .swiper-slide a img {
  display: block;
  width: 1200px;
  margin: 0 auto; }
  @media screen and (max-width: 1205px) {
    .carouselArea > .carouselBox .swiper-slide a img {
      width: 1000px; } }
.carouselArea > .carouselBox .swiper-pagination .swiper-pagination-bullet {
  margin: 0 8px !important;
  background-color: #BE1920;
  transition: all 0.2s ease-in-out; }
.carouselArea > .carouselBox .swiper-pagination .swiper-pagination-bullet-active {
  width: 25px;
  border-radius: 1000px; }

/*# sourceMappingURL=stylesheet.css.map */
